---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import logos from '../images/framework-logos.png';
---

<Layout>
  <Showcase />
  <p class="showcase-demo">This is my stack</p>
  <div class="showcase-img">
    <img class="logos" src={logos} alt="" />
  </div>
</Layout>

<style>
  .showcase-img {
    text-align: center;
  }

  .showcase-img img {
    border-radius: 10px;
    margin: auto;
  }

  .showcase-demo {
    color: #fff;
    text-align: center;
    font-weight: 300;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
